<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd"
    default-init-method="start"
    
    >


	<bean id="d1" class="com.ssi.DemoBean">
		<constructor-arg value="111" type="int"/>
		<constructor-arg value="SSI" type="String"/>
		
<!-- 		<constructor-arg value="SSI" name="y" />
		<constructor-arg value="111" name="x" />
 -->		<!-- <constructor-arg value="SSI" index="1"/>
		<constructor-arg value="555" index="0"/> -->
	</bean>

	<!-- <bean id="d1" class="com.ssi.DemoBean">
		<property name="x" value="10"/>
		<property name="y" value="abc"/>
	</bean> -->


 
<!-- 	<bean id="d1" class="com.ssi.DemoBean" scope="singleton" lazy-init="false" init-method="doIt" destroy-method="stop"  >
		<property name="x" value="10"/>
		<property name="y" value="abc"/>
		</bean>		
 -->
	
<!-- 
	<bean id="d1" class="com.ssi.DemoBean" scope="singleton" lazy-init="false">
		<property name="x" value="10"/>
		<property name="y" value="abc"/>
	</bean>	
 -->





</beans>

